<header class="w-full sticky top-0 z-40 backdrop-blur bg-white/70 shadow-sm border-b border-purple-100">
  <nav class="navbar max-w-7xl mx-auto px-4" role="navigation" aria-label="main navigation" data-controller="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <span class="has-text-weight-bold is-size-4">
          <span class="has-text-primary"><%= t("shared.header.brand_ticket") %></span><span class="has-text-gray"><%= t("shared.header.brand_wave") %></span>
        </span>
      </a>
      <!-- Hamburger menu -->
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-action="click->navbar#toggle" data-navbar-target="burger">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <!-- Menu -->
    <div id="navbarBasicExample" class="navbar-menu" data-navbar-target="menu">
      <div class="navbar-start is-flex is-justify-content-center" style="flex-grow: 1;">
        <a class="navbar-item" href="/events">
          <%= t("shared.header.events") %>
        </a>
        <% if helpers.admin_signed_in? %>
          <a class="navbar-item" href="<%= admins_dashboard_path %>"><%= t("shared.header.admin_panel") %></a>
          <a class="navbar-item" href="<%= orders_path %>"><%= t("shared.header.my_orders") %></a>
        <% elsif helpers.user_signed_in? %>
          <a class="navbar-item" href="<%= users_dashboard_path %>"><%= t("shared.header.user_panel") %></a>
          <a class="navbar-item" href="<%= orders_path %>"><%= t("shared.header.my_orders") %></a>
        <% end %>
      </div>
      <div class="navbar-end">
        <div class="navbar-item is-flex is-align-items-center is-justify-content-space-between" style="width: 100%;">
          <!-- Ikona trybu -->
          <button data-controller="theme" data-action="click->theme#toggle" class="button is-light">
            <img src="<%= asset_path('sun_icon.svg') %>" alt="<%= t("shared.header.toggle_theme") %>" width="24" height="24">
          </button>
          <!-- Powitanie i przycisk wylogowania -->
          <% if helpers.admin_signed_in? %>
            <p class="ml-3">
              <%= t("shared.header.greeting") %>, <%= current_admin.first_name %>! <span class="has-text-weight-bold">(A)</span>
            </p>
            <%= button_to t("shared.header.logout"), destroy_admin_session_path, method: :delete, class: "button is-light ml-3" %>
          <% elsif helpers.user_signed_in? %>
            <p class="ml-3">
              <%= t("shared.header.greeting") %>, <%= current_user.first_name %>!
            </p>
            <%= button_to t("shared.header.logout"), destroy_user_session_path, method: :delete, class: "button is-light ml-3" %>
          <% else %>
            <div class="buttons is-flex is-justify-content-space-between">
              <a class="button is-primary ml-3" href="<%= new_user_registration_path %>">
                <strong><%= t("shared.header.register") %></strong>
              </a>
              <a class="button is-light ml-3" href="<%= new_user_session_path %>">
                <%= t("shared.header.login") %>
              </a>
              <button class="button is-light is-rounded is-flex is-align-items-center is-justify-content-center ml-3">
                <a href="<%= new_admin_session_path %>" class="is-flex is-align-items-center is-justify-content-center" style="width: 24px; height: 24px;">
                  <img src="<%= asset_path('lifebuoy_icon.svg') %>" alt="<%= t("shared.header.admin_login") %>" width="24" height="24">
                </a>
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
</header>