<section id="events" class="section">
  <div class="container">
    <h2 class="title is-2 has-text-centered mb-6">Zbliżające się wydarzenia</h2>

    <div class="columns is-multiline is-flex is-align-items-stretch">
      <% events.each do |event| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <% if event.image.attached? %>
                  <%= image_tag url_for(event.image), alt: event.name, class: "is-slightly-rounded" %>
                <% else %>
                  <img src="https://placehold.co/400x300/7957d5/FFFFFF?text=<%= event.category.capitalize %>" alt="<%= event.name %>">
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <p class="title is-4"><%= event.name %></p>
              <p class="subtitle is-6"><%= event.date.strftime("%d %B %Y • %H:%M") %></p>
              <div class="content">
                <%= truncate(event.description, length: 150) %>
              </div>
            </div>
            <div class="card-footer">
              <%= link_to "Szczegóły", event_path(event), class: "card-footer-item" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="has-text-centered mt-6">
      <a href="<%= events_path %>" class="button is-primary is-medium is-rounded">Zobacz wszystkie wydarzenia</a>
    </div>
  </div>
</section>