<div class="container mt-5">
  <div class="has-text-centered mb-5">
    <h1 class="title is-2 has-text-primary">Lista wydarzeń</h1>
    <p class="subtitle is-5">Przeglądaj dostępne wydarzenia i zarządzaj nimi</p>
  </div>

  <% if admin_signed_in? %>
    <div class="has-text-centered my-5">
      <%= link_to "Dodaj nowe wydarzenie", new_event_path, class: "button is-primary is-large" %>
    </div>
  <% end %>

  <% if events.any? %>
    <div class="columns is-multiline">
      <% events.each do |event| %>
        <div class="column is-one-third">
          <div class="card">
            <div class="card-image">
              <% if event.image.attached? %>
                <figure class="image is-16by9">
                  <%= image_tag event.image, alt: event.name %>
                </figure>
              <% end %>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4"><%= event.name %></p>
                  <p class="subtitle is-6">
                    <span class="icon-text">
                      <span class="icon">
                        <i class="fas fa-map-marker-alt"></i>
                      </span>
                      <span><%= event.place %></span>
                    </span>
                  </p>
                </div>
              </div>

              <div class="content has-text-centered">
                <%= truncate(event.description, length: 100) %>
                <br>
                  <time datetime="<%= event.date.iso8601 %>">
                    <span class="icon-text">
                      <span class="icon">
                        <i class="fas fa-calendar-alt"></i>
                      </span>
                      <span class="has-text-black has-text-weight-bold"><%= event.date.strftime("%d-%m-%Y %H:%M") %></span>
                    </span>
                  </time>
                <br>
                <span class="tag is-info mt-2"><%= Event.categories[event.category] %></span>
                <% if event.past? %>
                  <span class="tag is-warning mt-2">Wydarzenie minione</span>
                <% else %>
                  <span class="tag is-success mt-2">Aktywne</span>
                <% end %>
              </div>
            </div>
            <footer class="card-footer">
              <%= link_to "Szczegóły", event_path(event), class: "card-footer-item has-text-info" %>
              <% if admin_signed_in? %>
                <% unless event.past? %>
                  <%= link_to "Edytuj", edit_event_path(event), class: "card-footer-item has-text-warning" %>
                <% else %>
                  <span class="card-footer-item has-text-grey-light">Edytuj</span>
                <% end %>
                <%= link_to "Usuń", event_path(event), class: "card-footer-item has-text-danger",
                    data: { turbo_method: :delete, turbo_confirm: "Czy na pewno chcesz usunąć to wydarzenie?" } %>
              <% end %>
            </footer>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="notification is-warning has-text-centered">
      <p>Brak wydarzeń do wyświetlenia.</p>
    </div>
  <% end %>
</div>
