<!DOCTYPE html>
<html lang="en">
  <head>
    <%# <script src="https://cdn.tailwindcss.com"></script> %>
    <title><%= content_for(:title) || "TicketWave" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="<%= asset_path('ticket_icon.svg') %>" type="image/svg+xml">
    <link rel="apple-touch-icon" href="<%= asset_path('ticket_icon.svg') %>">
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
  </head>
  <body class="min-h-screen bg-gradient-to-b from-purple-100 to-white">
    <%= render Shared::HeaderComponent.new(current_user:) %>
    <div class="grid grid-cols-1 gap-4 m-4">
      <div id="flash-messages">
        <% flash.to_h.each do |variant, description| %>
          <%= render Ui::AlertComponent.new(variant:, description:) %>
        <% end %>
      </div>
    </div>

    <main id="main-content" class="is-flex-grow-1">
      <%= yield %>
    </main>
    <%= render Shared::FooterComponent.new %>
  </body>
</html>
